.container {
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding-bottom: 10px;
  width: 470px;
  height: 850px;
  background-color: #095ac6;
}

.miniContainer {
  margin-top: 30px;
}

.headings {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.invalid {
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 225px auto;
  padding-bottom: 10px;
  width: 320px;
  color: white;
}

p {
  color: white;
}

.logout {
  margin-left: 390px;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 320px;
  }
  .logout {
    margin-left: 240px;
  }
}
