.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.myInput {
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: 1px 1px 1px black;
}

.search {
  margin-top: 15px;
}
